.board {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  position: relative;
  transition: all 1s ease;

  &__rows-name {
    font-size: 16px;
    color: var(--cell-dark);
    width: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order: 1;
  }
  &__columns-name {
    transition: all 1s ease;
    font-size: 16px;
    color: var(--cell-dark);
    height: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    order: 2;
  }
  &__cells {
    outline: 4px solid;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: calc(8 * var(--cell-size));
    height: calc(8 * var(--cell-size));

    &-dark {
      background-color: var(--cell-dark);
    }
    &-light {
      background-color: var(--cell-ligth);
    }
  }
}
